[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
databases = {extras = ["postgresql"], version = "*"}
psycopg2-binary = "*"
asyncpg = "*"
python-jose = {extras = ["cryptography"], version = "*"}
passlib = "*"
bcrypt = "*"
python-slugify = "*"
alembic = "*"
loguru = "*"
pydantic = {extras = ["email"], version = "*"}

[dev-packages]
mypy = "*"
black = "==21.10b0"
flake8 = "*"
isort = "*"
sqlalchemy2-stubs = "==0.0.2.a19"

[requires]
python_version = "3.9"
